<div class="row mt-4">
    <div class="col text-center">
        <img src="images/fotoku.jpg" alt="" class="rounded-circle img-thumbnail" width="200" height="200">
        <h1 class="display-4"><%= nama %> </h1>
        <h3 class="lead">Junior Web Developer</h3>
    </div>
</div>